<% layout('layouts/boilerplate') %>
    <h1>All campgrounds</h1>
    <div>
        <a href="/campgrounds/new">new campground</a>
    </div>
    <ul>
        <% for(let campground of campgrounds){ %>
            <div class="card mb-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="<%=campground.image %>" alt="random-image" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= campground.title%>
                            </h5>
                            <p class="card-text">
                                <%= campground.description%>
                            </p>
                            <p class="card-text text-muted">
                                <%= campground.location%>
                            </p>
                            <a href="/campgrounds/<%= campground._id%>" class="btn btn-success">View <%=campground.title %></a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </ul>